<div class="flex text-2xl font-semibold">
  <h2><%= @listing.short_description %></h2>
</div>

<div class="mt-2 grid grid-cols-2 place-content-between">
  <div class="col-span-1 flex font-medium place-items-center text-sm">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mt-[2px]">
      <path fill-rule="evenodd"
        d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
        clip-rule="evenodd" />
    </svg>
    <span class="align-middle"><%= @listing.star_average %></span>
    &nbsp;
    &#183;
    &nbsp;
    <span class="underline underline-offset-1"><%= "#{@listing.review_count} Reviews" %></span>
    &nbsp;
    &#183;
    &nbsp;
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-blue-400 w-6 h-6">
      <path fill-rule="evenodd"
        d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
        clip-rule="evenodd" />
    </svg>
    <span class="font-normal">Verified </span>
  </div>

  <div class="col-span-1 grid grid-cols-2 ml-auto gap-2">
    <button class="flex p-2 rounded-lg hover:bg-indigo-100 text-sm transition duration-300 ease-in-out">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mt-[4px] mr-2">
        <path fill-rule="evenodd"
          d="M11.47 2.47a.75.75 0 011.06 0l4.5 4.5a.75.75 0 01-1.06 1.06l-3.22-3.22V16.5a.75.75 0 01-1.5 0V4.81L8.03 8.03a.75.75 0 01-1.06-1.06l4.5-4.5zM3 15.75a.75.75 0 01.75.75v2.25a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5V16.5a.75.75 0 011.5 0v2.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V16.5a.75.75 0 01.75-.75z"
          clip-rule="evenodd" />
      </svg>
      Share
    </button>
    <button data-wishlist-listing-id="<%= @listing.id %>" data-controller="wishlist" data-action="click->wishlist#add_to_wishlist" class="flex p-2 rounded-lg hover:bg-red-50 text-sm transition duration-300 ease-in-out">
      <svg id="heart-svg" fill=<%= "#{ current_user.wished?(@listing) ? 'red' : 'none' }" %> viewBox="0 0 24 24" stroke-width="1.5" stroke="<%= "#{ current_user.wished?(@listing) ? 'red' : 'currentColor' }" %>"
        class="w-4 h-4 mt-[3px] mr-2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
      </svg>
      Save
    </button>
  </div>
</div>
