<section>
  <div class="flex text-2xl font-semibold">
    <h2>Haunted House</h2>
  </div>

  <div class="mt-2 grid grid-cols-2 place-content-between">
    <div class="col-span-1 flex font-medium place-items-center text-sm">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mt-[2px]">
        <path fill-rule="evenodd"
          d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
          clip-rule="evenodd" />
      </svg>
      <span class="align-middle">4.83</span>
      &nbsp;
      &#183;
      &nbsp;
      <span class="underline underline-offset-1">60 reviews</span>
      &nbsp;
      &#183;
      &nbsp;
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fill-blue-400 w-6 h-6">
        <path fill-rule="evenodd"
          d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
          clip-rule="evenodd" />
      </svg>
      <span class="font-normal">Verified </span>
    </div>

    <div class="col-span-1 grid grid-cols-2 ml-auto gap-2">
      <button class="flex p-2 rounded-lg hover:bg-indigo-100 text-sm transition duration-300 ease-in-out">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mt-[4px] mr-2">
          <path fill-rule="evenodd"
            d="M11.47 2.47a.75.75 0 011.06 0l4.5 4.5a.75.75 0 01-1.06 1.06l-3.22-3.22V16.5a.75.75 0 01-1.5 0V4.81L8.03 8.03a.75.75 0 01-1.06-1.06l4.5-4.5zM3 15.75a.75.75 0 01.75.75v2.25a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5V16.5a.75.75 0 011.5 0v2.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V16.5a.75.75 0 01.75-.75z"
            clip-rule="evenodd" />
        </svg>


        Share
      </button>
      <button class="flex p-2 rounded-lg hover:bg-blue-100 text-sm transition duration-300 ease-in-out">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-4 h-4 mt-[3px] mr-2">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
        </svg>


        Share
      </button>
    </div>
  </div>

  <div class="mt-4 grid grid-rows-2 h-80 grid-cols-8 gap-2">
    <div class="row-span-2 md:col-span-4 rounded col-span-8 overflow-clip">
      <%= image_tag Listing.last.images&.first, class: "bg-auto" %>
    </div>
    <div class="row-span-1 col-span-2 bg-green-500 hidden md:block overflow-clip">
      <%= image_tag Listing.last.images&.second, class: "h-auto w-auto" %>
    </div>
    <div class="rounded-r-lg row-span-1 col-span-2 bg-green-500 hidden md:block overflow-clip">
      <%= image_tag Listing.last.images&.third, class: "h-auto w-auto" %>
    </div>
    <div class="row-span-1 col-span-2 bg-green-500 hidden md:block overflow-clip">
      <%= image_tag Listing.last.images&.fourth, class: "h-auto w-auto" %>
    </div>
    <div class="rounded-r-lg row-span-1 col-span-2 bg-green-500 hidden md:block overflow-clip">
      <%= image_tag Listing.last.images&.fifth, class: "h-auto w-auto" %>
    </div>
  </div>
</section>

<section class="">
  <div class="gap-20 flex flex-grow">
    <div class="mt-12 rounded basis-2/3">
      <!-- Host Picture Section -->
      <div class="flex flex-row pb-6">
        <div class="basis-4/5">
          <h3 class="font-semibold text-2xl">
            Entire cottage is hosted by Nataniel Feliciano
          </h3>
          13 guests . 4 bedrooms . 8 beds . 4 baths
        </div>
        <div class="basis-1/5">
          <img class="ml-auto col-span-1 h-16 w-16 rounded-full"
            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            alt="">
        </div>
      </div>
      <hr class="pb-6">

      <!-- Host Characteristics section -->

      <div class="flex flex-row pb-6 place-items-center">
        <div class="basis-1/10">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M16.5 18.75h-9m9 0a3 3 0 013 3h-15a3 3 0 013-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 01-.982-3.172M9.497 14.25a7.454 7.454 0 00.981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 007.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 002.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 012.916.52 6.003 6.003 0 01-5.395 4.972m0 0a6.726 6.726 0 01-2.749 1.35m0 0a6.772 6.772 0 01-3.044 0" />
          </svg>
        </div>
        <div class="basis-9/10 ml-4">
          <h3 class="font-semibold">Nataniel Feliciano is a Superhost</h3>
          <p class="text-sm text-slate-500">Superhosts are experienced, highly rated hosts who are committed to
            providing great stays for guests.</p>
        </div>
      </div>
      <div class="flex flex-row pb-6 place-items-center">
        <div class="basis-1/10">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
          </svg>
        </div>
        <div class="basis-9/10 ml-4">
          <h3 class="font-semibold">Great check-in experience</h3>
          <p class="text-sm text-slate-500">100% of recent guests gave the check-in process a 5-star rating.</p>
        </div>
      </div>
      <div class="flex flex-row pb-6 place-items-center">
        <div class="basis-1/10">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9 9l10.5-3m0 6.553v3.75a2.25 2.25 0 01-1.632 2.163l-1.32.377a1.803 1.803 0 11-.99-3.467l2.31-.66a2.25 2.25 0 001.632-2.163zm0 0V2.25L9 5.25v10.303m0 0v3.75a2.25 2.25 0 01-1.632 2.163l-1.32.377a1.803 1.803 0 01-.99-3.467l2.31-.66A2.25 2.25 0 009 15.553z" />
          </svg>
        </div>

        <div class="basis-9/10 ml-4">
          <h3 class="font-semibold">Party right away</h3>
          <p class="text-sm text-slate-500">This is a party friendly place</p>
        </div>
      </div>
      <hr class="pb-6">

      <div class="pb-8">
        <img src="https://a0.muscache.com/im/pictures/54e427bb-9cb7-4a81-94cf-78f19156faad.jpg" class="h-6">
        <p class="mt-6 mb-6">Every booking includes free protection from Host cancellations, listing inaccuracies, and
          other issues like trouble checking in.</p>
        <p class="underline font-semibold hover:cursor-pointer">Learn more</p>
      </div>
      <hr class="pb-8">

      <div class="pb-8">
        <p>Casa de madeira...! Cheiro de madeira delicioso no ar, muito silencio e contemplação! A casa fica no alto, é
          bem iluminada e ventilada. No verão a piscina com a vista pra mata atlantica é o nosso lazer predileto, junto
          com caminhadas na Serra. Primavera, outono e inverno fazer uma sauna a noite, banho de espumas na banheira ou
          ainda uma boa conversa na lareira são prazeres que restauram corpo e alma! A casa é um refúgio de beleza e
          paz!</p>
        <br>
        <span class="font-semibold">Show more</span>
      </div>
      <hr class="pb-8">
    </div>

    <hr class="mt-12">
    <!-- Right Pricing Section -->
    <div class="sticky top-12 mt-12 p-6 basis-1/3 rounded-xl border drop-shadow-xl h-min">
      <div class="price-area lg:flex pb-6">
        <div><span class="font-semibold text-xl">R$620</span> night</div>

        <span class="ml-auto flex font-medium place-items-center text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mt-[2px]">
            <path fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd" />
          </svg>
          <span class="align-middle">4.83</span>
          &nbsp;
          &#183;
          &nbsp;
          <span class="underline underline-offset-1 text-slate-500 hover:cursor-pointer">60 reviews</span>
        </span>
      </div>

      <div class="date-range-area grid grid-cols-2 grid-rows-2 pb-6">
        <button type="button" class="p-3 border border-gray-400 rounded-tl-lg col-span-1 row-span-1 grid grid-rows-2">
          <div class="text-[11px] font-semibold row-span-1 mr-auto">CHECK-IN</div>
          <div class="text-sm text-slate-500 leading-tight row-span-1 mr-auto">Add date</div>
        </button>
        <button type="button"
          class="p-3 border border-gray-400 rounded-tr-lg col-span-1 border-l-0 row-span-1 grid grid-rows-2">
          <div class="text-[11px] font-semibold row-span-1 mr-auto">CHECKOUT</div>
          <div class="text-sm text-slate-500 leading-tight row-span-1 mr-auto">Add date</div>
        </button>
        <button type="button"
          class="p-3 border border-gray-400 rounded-b-lg col-span-2 border-t-0 row-span-1 grid grid-cols-2 grid-rows-1">
          <div class="col-span-1 row-span-1">
            <div class="text-[11px] font-semibold flex">GUESTS</div>
            <div class="text-sm text-slate-500 flex">1 guests</div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" strokeWidth="1.5" viewBox="0 0 24 24" fill="currentColor"
            class="w-4 h-4 mt-[2px] row-span-1 col-span-1 ml-auto place-self-center">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
        </button>
      </div>

      <div>
        <button class="standard_b w-full p-4 mb-3">Check availability</button>
      </div>

      <!-- If has a date range selected: -->

      <div>
        <div class="grid grid-cols-2 grid-rows-3 gap-4 pb-6">
          <span class="place-content-center col-span-2 row-span-1 place-self-center">You won't be charged yet</span>
          <div class="col-span-1 underline hover:cursor-pointer row-span-1">R$680 x 3 nights</div>
          <div class="col-span-1 underline hover:cursor-pointer row-span-1 ml-auto">R$2,040</div>
          <div class="col-span-1 underline hover:cursor-pointer row-span-1">Cleaning fee</div>
          <div class="col-span-1 underline hover:cursor-pointer row-span-1 ml-auto">R$350</div>
          <div class="col-span-1 underline hover:cursor-pointer row-span-1">Service fee</div>
          <div class="col-span-1 underline hover:cursor-pointer row-span-1 ml-auto">R$347</div>
        </div>
        <hr class="pb-6">
        <div class="flex place-content-between font-semibold">
          <span>Total before taxes</span>
          <span>R$2,737</span>
        </div>
      </div>
    </div>
  </div>


</section>

<section class="mt-12">
  <div class="flex">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
    </svg>
    <div class="">4.83 Reviews</div>
  </div>

  <div class="grid grid-cols-2 grid-rows-3 gap-x-24 bg-black-500 mt-12">
    <div class="col-span-1 row-span-1 bg-purple-500 mb-6">Cleanliness</div>
    <div class="col-span-1 row-span-1 bg-purple-500 mb-6">Cleanliness</div>
    <div class="col-span-1 row-span-1 bg-purple-500 mb-6">Cleanliness</div>
    <div class="col-span-1 row-span-1 bg-purple-500 mb-6">Cleanliness</div>
    <div class="col-span-1 row-span-1 bg-purple-500 mb-6">Cleanliness</div>
    <div class="col-span-1 row-span-1 bg-purple-500 mb-6">Cleanliness</div>
  </div>

  <div class="grid grid-cols-2 grid-rows-3 gap-x-24 mt-8 pb-8">
    <div class="h-48 row-span-1 col-span-1">
      <div class="h-40 bg-orange-500">Review</div> <!-- change to max-height -->
    </div>
    <div class="h-48 row-span-1 col-span-1">
      <div class="h-40 bg-orange-500">Review</div> <!-- change to max-height -->
    </div>
    <div class="h-48 row-span-1 col-span-1">
      <div class="h-40 bg-orange-500">Review</div> <!-- change to max-height -->
    </div>
    <div class="h-48 row-span-1 col-span-1">
      <div class="h-40 bg-orange-500">Review</div> <!-- change to max-height -->
    </div>
    <div class="h-48 row-span-1 col-span-1">
      <div class="h-40 bg-orange-500">Review</div> <!-- change to max-height -->
    </div>
    <div class="h-48 row-span-1 col-span-1">
      <div class="h-40 bg-orange-500">Review</div> <!-- change to max-height -->
    </div>

    <button class="standard_b">Show all 60 Revies</button>
  </div>
  <hr>
</section>

<section>
  <div class="flex text-2xl font-semibold pt-8 pb-4">
    <h2>Where you'll be</h2>
  </div>

  <div class="w-full bg-red-500 h-[480px]">map</div>

  <div class="pt-5 pb-8">
    <h4 class="mb-4 font-semibold">Araçariguama , Sp, Brazil</h4>
    <h4 class="mb-4">Both inward and capital sense, we have easy access from Rod. President Castelo Branco, the farm is
      less than 1,500 meters from the highway.</h4>
  </div>
  <hr>
</section>

<section>
</section>