<section>
  <%= render 'header' %>

  <%= render 'image_panel' %>
</section>

<section>
  <div class="gap-20 flex flex-grow">
    <div class="mt-12 basis-2/3">
      
      <%= render 'host_characteristics' %>

      <hr class="pb-6">

      <div class="pb-8">
        <img src="https://a0.muscache.com/im/pictures/54e427bb-9cb7-4a81-94cf-78f19156faad.jpg" class="h-6">
        <p class="mt-6 mb-6">Every booking includes free protection from Host cancellations, listing inaccuracies, and
          other issues like trouble checking in.</p>
        <p class="underline font-semibold hover:cursor-pointer">Learn more</p>
      </div>
      
      <hr class="pb-8">

      <div class="pb-8">
        <p> <%= @listing.long_description %> </p>
      </div>

      <hr class="pb-8">

      <div class="pb-8">
        <h3 class="font-semibold text-xl">Where you'll sleep</h3>
        <span class="pt-4 gap-4 flex">
          <div class="border h-40 w-52 rounded-xl">
          </div>
          <div class="border h-40 w-52 rounded-xl">
          </div>
          <div class="border h-40 w-52 rounded-xl">
          </div>
        </span>
      </div>

      <hr class="pb-8">

      <%= render 'amenities' %>
    </div>

    <!-- Right Pricing Section -->
    <div class="sticky top-12 mt-12 p-6 basis-1/3 rounded-xl border shadow-xl h-min">
      <%= render 'right_floating_card' %>
    </div>
  </div>
</section>

<hr class="pb-8 mt-8">

<section class="mt-12">
  <div class="flex">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
    </svg>
    <div class="">4.83 Reviews</div>
  </div>

  <div class="grid grid-cols-2 grid-rows-3 gap-x-24 bg-black-500 mt-12">
    <% for i in 1..6 do %>
    <div class="col-span-1 row-span-1 bg-purple-500 mb-6">Cleanliness</div>
    <% end %>
  </div>

  <div class="grid grid-cols-2 grid-rows-3 gap-x-24 mt-8 pb-8">
    <% for i in 1..6 do %>
    <div class="h-48 row-span-1 col-span-1">
      <div class="h-40 bg-orange-500">Review</div> <!-- change to max-height -->
    </div>
    <% end %>

    <button class="standard_b">Show all 60 Revies</button>
  </div>
  <hr>
</section>

<section>
  <div class="flex text-2xl font-semibold pt-8 pb-4">
    <h2>Where you'll be</h2>
  </div>

  <div class="w-full bg-red-500 h-[480px]">map</div>

  <div class="pt-5 pb-8">
    <h4 class="mb-4 font-semibold"><%= "#{@listing.city}, #{@listing.state}, #{@listing.country}" %></h4>
    <h4 class="mb-4">Both inward and capital sense, we have easy access from Rod. President Castelo Branco, the farm is
      less than 1,500 meters from the highway.</h4>
  </div>
  <hr>
</section>
