<section>
  <%= render 'header' %>

  <%= render 'image_panel' %>
</section>

<section class="">
  <div class="gap-20 flex flex-grow">
    <div class="mt-12 basis-2/3">
      
      <%= render 'host_characteristics' %>

      <hr class="pb-6">

      <div class="pb-8">
        <img src="https://a0.muscache.com/im/pictures/54e427bb-9cb7-4a81-94cf-78f19156faad.jpg" class="h-6">
        <p class="mt-6 mb-6">Every booking includes free protection from Host cancellations, listing inaccuracies, and
          other issues like trouble checking in.</p>
        <p class="underline font-semibold hover:cursor-pointer">Learn more</p>
      </div>
      <hr class="pb-8">

      <div class="pb-8">
        <p> <%= @listing.long_description %> </p>
      </div>
      <hr class="pb-8">

      <div class="pb-8">
        <h3 class="font-semibold text-xl">Where you'll sleep</h3>
        <span class="pt-4 gap-4 flex">
          <div class="border h-40 w-52 rounded-xl">
          </div>
          <div class="border h-40 w-52 rounded-xl">
          </div>
          <div class="border h-40 w-52 rounded-xl">
          </div>
        </span>
      </div>

      <hr class="pb-8">

      <div class="grid grid-cols-2 grid-rows-3 gap-4 pb-6">
        <span class="col-span-2 row-span-1 font-semibold text-xl">What this place offers</span>
        <% for i in 1..6 do %>
        <div class="col-span-1 flex row-span-1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M7.848 8.25l1.536.887M7.848 8.25a3 3 0 11-5.196-3 3 3 0 015.196 3zm1.536.887a2.165 2.165 0 011.083 1.839c.005.351.054.695.14 1.024M9.384 9.137l2.077 1.199M7.848 15.75l1.536-.887m-1.536.887a3 3 0 11-5.196 3 3 3 0 015.196-3zm1.536-.887a2.165 2.165 0 001.083-1.838c.005-.352.054-.695.14-1.025m-1.223 2.863l2.077-1.199m0-3.328a4.323 4.323 0 012.068-1.379l5.325-1.628a4.5 4.5 0 012.48-.044l.803.215-7.794 4.5m-2.882-1.664A4.331 4.331 0 0010.607 12m3.736 0l7.794 4.5-.802.215a4.5 4.5 0 01-2.48-.043l-5.326-1.629a4.324 4.324 0 01-2.068-1.379M14.343 12l-2.882 1.664" />
          </svg>
          <span class="pl-2">Wifi</span>
        </div>
        <% end %>
        <button
          class="rounded-lg min-w-min min-w border font-semibold p-3 mt-4 hover:bg-indigo-50 transition duration-300 ease-in-out border-slate-500">Show
          all 42 amenities</button>
      </div>
    </div>


    <!-- Right Pricing Section -->
    <div class="sticky top-12 mt-12 p-6 basis-1/3 rounded-xl border shadow-xl h-min">
      <div class="price-area flex pb-6">
        <div><span class="font-semibold text-xl"><%= "R$#{@listing.active_pricing.value.to_s}" %></span> night</div>

        <span class="ml-auto flex font-medium place-items-center text-sm">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mt-[2px]">
            <path fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
              clip-rule="evenodd" />
          </svg>
          <span class="align-middle"><%= @listing.star_average %></span>
          &nbsp;
          &#183;
          &nbsp;
          <span class="underline underline-offset-1 text-slate-500 hover:cursor-pointer"><%= "#{@listing.review_count} reviews" %></span>
        </span>
      </div>

      <form action="/bookings/new">
        <div class="date-range-area grid grid-cols-2 grid-rows-2 pb-6">
          <button type="button" class="border border-gray-400 rounded-tl-lg col-span-1 row-span-1">
            <label class="text-[11px] font-semibold mr-auto">CHECK-IN</label>
            <input type="date" name="check_in_date" class="text-sm text-slate-500 border-none leading-tight row-span-1 mr-auto"></input>
          </button>
          <button type="button"
            class="p-3 border border-gray-400 rounded-tr-lg col-span-1 border-l-0 row-span-1">
            <div class="text-[11px] font-semibold mr-auto">CHECKOUT</div>
            <input type="date" name="checkout_date" class="text-sm text-slate-500 border-none leading-tight row-span-1 mr-auto">
          </button>
          <button type="button"
            class="p-3 border border-gray-400 rounded-b-lg col-span-2 border-t-0 row-span-1 grid grid-cols-2 grid-rows-1">
            <div class="col-span-1 row-span-1">
              <div class="text-[11px] font-semibold flex">GUESTS</div>
              <input type="number" name="guest_count" class="border-none" placeholder="guests">
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" strokeWidth="1.5" viewBox="0 0 24 24" fill="currentColor"
              class="w-4 h-4 mt-[2px] row-span-1 col-span-1 ml-auto place-self-center">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
          </button>
        </div>
        <input type="hidden" name="listing_id" value="<%= @listing.id %>">
        <div>
          <%= button_to new_booking_path, target:"_blank", class: "w-full mb-3" do %>
            <div class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Check availability</div>
          <% end %>
        </div>
      </form>


      <!-- If has a date range selected: -->

      <div>
        <div class="grid grid-cols-2 grid-rows-3 gap-4 pb-6">
          <span class="place-content-center col-span-2 row-span-1 place-self-center">You won't be charged yet</span>
          <div class="col-span-1 underline hover:cursor-pointer row-span-1">R$ <%= @listing.active_pricing.value.to_s %>  x 3 nights</div>
          <div class="col-span-1 underline hover:cursor-pointer row-span-1 ml-auto">R$ <%= @listing.active_pricing.value * 3 %></div>
          <div class="col-span-1 underline hover:cursor-pointer row-span-1">Cleaning fee</div>
          <div class="col-span-1 underline hover:cursor-pointer row-span-1 ml-auto">R$ <%= @listing.active_pricing.cleaning_fee %></div>
        </div>
        <hr class="pb-6">
        <div class="flex place-content-between font-semibold">
          <span>Total before taxes</span>
          <span>R$ <%= (@listing.active_pricing.value * 3) + @listing.active_pricing.cleaning_fee %> </span>
        </div>
      </div>
    </div>
  </div>


</section>

<hr class="pb-8 mt-8">

<section class="mt-12">
  <div class="flex">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
    </svg>
    <div class="">4.83 Reviews</div>
  </div>

  <div class="grid grid-cols-2 grid-rows-3 gap-x-24 bg-black-500 mt-12">
    <% for i in 1..6 do %>
    <div class="col-span-1 row-span-1 bg-purple-500 mb-6">Cleanliness</div>
    <% end %>
  </div>

  <div class="grid grid-cols-2 grid-rows-3 gap-x-24 mt-8 pb-8">
    <% for i in 1..6 do %>
    <div class="h-48 row-span-1 col-span-1">
      <div class="h-40 bg-orange-500">Review</div> <!-- change to max-height -->
    </div>
    <% end %>

    <button class="standard_b">Show all 60 Revies</button>
  </div>
  <hr>
</section>

<section>
  <div class="flex text-2xl font-semibold pt-8 pb-4">
    <h2>Where you'll be</h2>
  </div>

  <div class="w-full bg-red-500 h-[480px]">map</div>

  <div class="pt-5 pb-8">
    <h4 class="mb-4 font-semibold"><%= "#{@listing.city}, #{@listing.state}, #{@listing.country}" %></h4>
    <h4 class="mb-4">Both inward and capital sense, we have easy access from Rod. President Castelo Branco, the farm is
      less than 1,500 meters from the highway.</h4>
  </div>
  <hr>
</section>

<section>
</section>
