<h2 class="m-3 pb-7 font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Create new listing</h2>

<%= render partial: "shared/flash_messages" %>

<%= form_with(model: [:host, @listing], local:true ) do |f| %>
  <div class="m-3">
    <%= f.label "Short description", class: "standard_l" %>
    <%= f.text_field :short_description, class: "text_f", placeholder: "How would you briefly describe your place?"%>
  </div>


  <div class="m-3">
    <%= f.label "Guest limit", class: "standard_l" %>
    <%= f.text_field :guests, class: "text_f", placeholder: "How many guests can your hostees bring? "%>
  </div>

  <div class="m-3">
    <%= f.label "Address Line 1", class: "standard_l" %>
    <%= f.text_field :address_line1, class: "text_f" %>
  </div>

  <div class="m-3">
    <%= f.label "Address Line 2", class: "standard_l" %>
    <%= f.text_field :address_line2, class: "text_f" %>
  </div>
  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="m-3">
      <%= f.label "city", class: "standard_l" %>
      <%= f.text_field :city, class: "text_f" %>
    </div>
    
    <div class="m-3">
      <%= f.label "state", class: "standard_l" %>
      <%= f.text_field :state, class: "text_f" %>
    </div>
  </div>

  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="m-3">
      <%= f.label "postal_code", class: "standard_l" %>
      <%= f.text_field :postal_code, class: "text_f" %>
    </div>

    <div class="m-3">
      <%= f.label "country", class: "standard_l" %>
      <%= f.text_field :country, class: "text_f" %>
    </div>
  </div>

  <div class="mt-1 flex justify-center rounded-md border-2 border-dashed border-gray-0 px-6 pt-5 pb-6">
    <div class="space-y-1 text-center">
      <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
        <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <div class="flex text-sm text-gray-600">
        <label for="listing_images" class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
          <span>Upload a file</span>
          <%= f.file_field :images, multiple: true, class: "sr-only" %>
        </label>
        <p class="pl-1">or drag and drop</p>
      </div>
      <p class="text-xs text-gray-500">PNG, JPG, GIF up to 10MB</p>
    </div>
  </div>
  <%= f.submit "Submit", class: "flex bg-indigo-500 py-2 px-3 text-white text-sm font-semibold rounded-md shadow focus:outline-none focus-visible ml-auto hover:cursor-pointer" %>
<% end %>
