<% if current_user %>
  <button data-wishlist-listing-id="<%= @listing.id %>" data-controller="wishlist" data-action="click->wishlist#add_to_wishlist" class="<%= header_buttons_classes('red', 50) %>">
    <svg id="heart-svg" fill=<%= "#{ current_user.wished?(@listing) ? 'red' : 'none' }" %> viewBox="0 0 24 24" stroke-width="1.5" stroke="<%= "#{ current_user.wished?(@listing) ? 'red' : 'currentColor' }" %>" class="w-4 h-4 mt-[3px] mr-2">
      <path stroke-linecap="round" stroke-linejoin="round" d="<%= heart_svg_path_d %>" />
    </svg>
    Save
  </button>
<% else %>
  <%= link_to new_user_session_path, class: header_buttons_classes('red', 50) do %>
    <svg id="heart-svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentcolor" class="w-4 h-4 mt-[3px] mr-2">
      <path stroke-linecap="round" stroke-linejoin="round" d="<%= heart_svg_path_d %>" />
    </svg>
    Save
  <% end %>
<% end %>
