<!DOCTYPE html>
<html>
  <head>
    <title>Gugabnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <main>
      <header class="sm:px-6 lg:px-8 flex justify-between items-center mx-auto place-content-center max-w-7xl h-20">
        <%= link_to listings_path do %>
          <div class="">
            <svg width="102" class="" height="32" style="display: block;"><path d="<%= airbnb_svg_d %>" fill="#FF385C"></path>
              <path d="<%= airbnb_letters_svg_d %>" fill="#FF385C"></path></svg>
          </div>
        <% end %>
        <div>
          <input type="text" class="w-80 shadow border border-slate-300 rounded-3xl">
        </div>
        <div data-controller="dropdown" class="">
          <button role="button" data-dropdown-target="button" data-action="click->dropdown#toggle click@window->dropdown#hide" class="flex justify-between items-center p-2 w-20 h-10 rounded-3xl border hover:shadow-xl transition-shadow">
            <div class="ml-2 dir dir-ltr"><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3px; overflow: visible;" aria-hidden="true" role="presentation" focusable="false"><g fill="none" fill-rule="nonzero"><path d="m2 16h28"></path><path d="m2 24h28"></path><path d="m2 8h28"></path></g></svg></div>

            <div class="">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" style="display: block;" fill="gray" class="ml-auto w-6 h-6" aria-hidden="true" role="presentation" focusable="false"><path d="m16 .7c-8.437 0-15.3 6.863-15.3 15.3s6.863 15.3 15.3 15.3 15.3-6.863 15.3-15.3-6.863-15.3-15.3-15.3zm0 28c-4.021 0-7.605-1.884-9.933-4.81a12.425 12.425 0 0 1 6.451-4.4 6.507 6.507 0 0 1 -3.018-5.49c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5a6.513 6.513 0 0 1 -3.019 5.491 12.42 12.42 0 0 1 6.452 4.4c-2.328 2.925-5.912 4.809-9.933 4.809z"></path>
              </svg>
            </div>
          </button> 
          <div data-dropdown-target="menu" class="hidden mt-2 bg-white w-60 rounded-lg py-2 border absolute z-10">
            <%= link_to bookings_path do %>
              <div class="pl-3 py-2 hover:bg-gray-100 my-auto items-center">My Bookings</div> 
            <% end %>
            <%= link_to host_listings_path do %>
              <div class="pl-3 py-2 hover:bg-gray-100 my-auto items-center">My Listings</div>
            <% end %>
            <hr class="my-2">

            <% if user_signed_in? %>
               <%= button_to destroy_user_session_path, :method=>'delete' do %>
                 <div class="pl-3 py-2 hover:bg-gray-100 my-auto w-60 text-left">Sign Out</div>
               <% end %>
            <% else %>
              <%= link_to new_user_session_path do %>
                <div class="pl-3 py-2 hover:bg-gray-100 my-auto items-center">Sign In</div> 
              <% end %>
              <%= link_to new_user_registration_path do %>
                <div class="pl-3 py-2 hover:bg-gray-100 my-auto items-center">Sign Up</div> 
              <% end %>
            <% end %>
          </div>
        </div>
      </header>

      <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <%= yield %>
        </div>
      </main>
    </main>
  </body>
</html>
